.skill-box {
  position: relative;
  padding: 30px;
  border-radius: 20px;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
  text-align: center;
  color: #fff;
  margin-top: 0;
  cursor: pointer;

  &:hover {
    // transition: 0.5s ease-in-out;
    margin-top: -15px;
  }

  .skill-box-inner {
    h3 {
      font-size: 20px;
      margin-bottom: 1rem;
      font-weight: 700;
    }

    p {
      color: #f8f9fa;
    }
  }
}

.bg-blue {
  background-color: #6c6ce5;
  box-shadow: 0px 5px 20px 0px rgb(108 108 229 / 50%);
}

.bg-yellow {
  background-color: #f9d74c;
  box-shadow: 0px 5px 20px 0px rgb(249 215 76 / 50%);
}

.bg-pink {
  background-color: #f97b8b;
  box-shadow: 0px 5px 20px 0px rgb(249 123 139 / 50%);
}
.bg-dark {
  background-color: #242424;
  box-shadow: 0px 5px 20px 0px rgba(39, 38, 38, 0.5);
}

@media (max-width: 560px) {
  .skill-box {
    padding: 20px !important;
    border-radius: 12px !important;
    cursor: default !important;
  }
  // .skill-box {
  //   width: 100% !important;
  // }
}
