.admin {
  width: 100%;
  margin: 80px 0;

  &__wrapper {
    padding: 20px 0;

    .box-left {
      width: 60%;
    }
    .box-right {
      width: 30%;
    }

    .head {
      margin-bottom: 25px;
    }

    .user-info {
      &__body {
        margin-top: 20px;
        .user__adress {
          .txt_ {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: normal;
            padding: 5px 0;
          }

          .user__contact {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            .txt_link {
              color: #205aed;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
