.skills-wrapper {
  margin-top: 10px;
  .skills__head {
    h4 {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: normal;
      color: #6c7377;
    }
  }
  .skills__body {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .skil {
      color: #0c2231;
      background-color: #eff2f3;
      padding: 8px 12px;
      //   margin-right: 8px;
      border-radius: 4px;
      border: none;
      outline: none;
      font-size: 13px;
      line-height: 18px;
    }
  }
  .skills__footer {
    h4 {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: normal;
      color: #6c7377;
    }

    span {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #414344;

      p {
        font-size: 14px;
        color: #414344;
        margin-left: 5px;
      }
    }
  }
}
