* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: #5e5c7f;
  background-color: #f9f9ff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  overflow-x: hidden;
}
.over {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px !important;
  width: 200px !important;
  border-radius: 50%;
  z-index: 1;
}
a {
  text-decoration: none;
  color: #5e5c7f;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.mt-2 {
  margin-top: 2rem;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.col_12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col_9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col_8 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}
.col_6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col_3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col_4 {
  flex: 0 0 27%;
  max-width: 27%;
}

.container_ofolio {
  width: 1180px;
  margin: 0 auto;
}

canvas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(22, 22, 22);
  z-index: 0;
}

@media (max-width: 992px) {
  .container_ofolio {
    width: 960px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container_ofolio {
    width: 720px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .container_ofolio {
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 435px) {
  .container_ofolio {
    width: 100%;
    margin: 0 auto;
  }
  .col_6,
  .col_4 .col_3 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
