.experience-section {
  padding-top: 100px;

  .experience-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (max-width: 560px) {
  .experience-section {
    padding: 0 10px !important;
  }
}
